services:
  postgresql:
    image: softavis/postgres
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile.postgres
    ports:
      - ${FORWARD_DB_PORT:-5432}:5432
    volumes:
      - pg_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD:-s3cr3t}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s

volumes:
  pg_data:
    driver: local

networks:
  default:
    external: true
    name: postgres